:root {
  --color-font: rgb(245, 95, 26);
  --color-hover: rgb(207, 38, 8);
  --color-background: rgb(155, 107, 155);
  --color-linear-gradient: linear-gradient(
    90deg,
    rgba(213, 51, 105, 1) 0%,
    rgba(218, 174, 81, 1) 100%
  );

  --font-weight: 300;
  --font-weight-hover: 500;
  --font-family: "Noto Sans HK", sans-serif;
}
